.App {
  text-align: center;
  width: 100%;
}

.titleBar {
  background-color: #303030;
  display: block;
  color: #fff;
  padding-left: 20%;
  padding-right: 20%;
}

.aboutPTag {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
}
