.buttonNav {
  background-color: #303030;
  text-decoration: none;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 18px;
}

.buttonNav:hover {
  background-color: #202020;
  color: #fff;
  text-decoration: none;

}

.navbarBack {
  background-color: #303030;
  padding-top: 5px;

}
