.inputBar {
  font-size: 18px;
  display: 'block';
<<<<<<< HEAD
  width: 55%;
=======
  max-width: 400px;
  width: 100%;
>>>>>>> f3a197d... formatting
}

.inputBar:hover {
  background-color: #f8f8f8;
  border-radius: 6px;
}

.inputButton {
  background-color: #e7e7e7;
  height: 31px;
  border-radius: 2px;
  font-size: 18px;
}

.inputButton:hover {
  background-color: #e0e0e0;
  border-radius: 6px;
}
